{% extends 'base.html.twig' %}

{# parent() permet de récupérer ce que contient le bloc de la base #}
{% block title %} {{ parent() }} | Home {% endblock %}

{# sije redéfinis le contenu, j'écrase le contenu présent dans la base #}
{% block body %}
    <h1>Welcome to series !</h1>
{% endblock %}
